/* App.css */
/* Existing styles */
.App {
  text-align: center;
  padding: 20px;
  background-color: #003E52; /* New background color */
  color: #FFFFFF; /* New text color */
}

/* Existing styles */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34; /* Existing background color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Footer styling */
.footer {
  background-color: #107178;
  color: white;
  padding: 20px 0;
}

.footer .container {
  display: flex;
  justify-content: center;
}

.footer .footer-links {
  list-style: none;
  padding: 0;
}

.footer .footer-links li {
  display: inline-block;
  margin-right: 20px;
}

.footer .footer-links a {
  color: white;
  text-decoration: none;
}

.footer .footer-links a:hover {
  text-decoration: underline;
}