/* App.css */

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-image: url( 'Vines.svg' ),url('hrdc-logo.png');
  background-attachment: fixed;
  background-position: center, left top;
  background-repeat: no-repeat;
  background-size: cover, 400px;
  font-size:16.5pt;

}


.container {
  max-width: 600px;
  margin: 50px auto;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f0fff0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size:16.5pt;
}

.form-container {
  font-size:16.5pt;
  padding: 20px;
  text-align: center;
  display: block;
  margin: auto;
  box-shadow: black 3px 0px 25px -8px;
  border-radius: 10px;
  width: 50%;
  height: 80%;
  background-color: white;
  padding: 15px;
}

.form-container h2 {
  padding-right: 20px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 40px;
  color: rgba(48, 100, 98, 1);
}

.form-group {
  display: block;
  margin: auto auto 20px auto;
  width: 70%;
  text-align: left;
  font-size:16.5pt;

}

.form-group label{
  transition: all 300ms;
}

.form-group input {
  font-size:16.5pt;
  transition: all 300ms;
}

.form-group textarea {
  transition: all 300ms;
}

.form-group select {
  transition: all 300ms;
  font-size: 16.5px;
}

.form-group:hover label{
  font-size:38px;
  font-size-adjust: 20px;
}

.form-group:hover input{
  border: 3px solid #008000;
}

textarea{
  border: none;
}

.form-group:hover textarea{
  border: 3px solid #008000;
}

.form-group:hover select{
  border: 3px solid #008000;
}

.field-title {
  text-align: left;
}

.form-group label {
  display: block;
  font-size: 28px;
  color: rgba(48, 100, 98, 1);
  margin-bottom: 8px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #008000;
  border-radius: 4px;
  box-shadow: black 3px 3px 13px -10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-control#message {
  height: 150px;
  font-size:16.5pt;
}

.submit-btn {
  width: 30%;
  padding: 10px;
  font-size: 28px;
  background-color: #fff;
  color: rgba(48, 100, 98, 1);
  border: 3px solid rgba(48, 100, 98, 1);
  border-radius: 8px;
  cursor: pointer;
  transition: all 300ms;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* Have two images for the background and gradually change the opacity of the top one? */

.submit-btn:hover {
  background-color:rgba(48, 100, 98, 1);
  color: #fff;
}

.error-message {
  color: #dc3545;
  font-size: 14px;
  margin-top: 5px;
}

#inputType {
  text-align: none;
}

hr {
  width: 70%;
  border-color: #008000;
  border-width: 1px;
  border-radius: 10px;
  margin: 40px auto 40px auto;
}

#user-doc-button {
  font-size: 18px;
}

.landingPageText {
  color:rgba(48, 100, 98, 1)
}